


<div id="homepage-div">
  
<h1 class="padding-15">{{title}}</h1>
  <div class="homepage-content-form">
    <p class="padding-15">Sign up to get the latest news and information about your favorite team or log in if you are already part of the Live Football Updates family</p>
    <div class="button-container">
        <div >
          <a href="/signup"><button type="button" class="bttn-sign-up">Sign up</button></a>
        </div>
        <div class="login-home-div">
          <a href="/login"><button type="button" class="bttn-sign-in">Log in</button></a>
        </div>
    </div>

    {{!-- <div class="app-explination">
      <h2>What this App is all about</h2>
      <p>
        <ol>
          <li>
            Enjoy making your own account to follow the football League stats.
          </li>
          <li>
            Create a profile that will give you an option to follow your favorite
            team from one of three leagues!.     
          </li>
          <li>
            Check your favorite team news
          </li>
        </ol>

      </p>
    </div> --}}
  </div>

</div>

