


<div id="homepage-div">

  <div class="homepage-content-form">

    <h1 class="padding-15">{{title}}</h1>
    <p class="padding-15">And again... {{title}}</p>
    <div class="button-container">
        {{!-- <a href="/signup"><button type="button" class="btn btn-primary btn-lg btn-block">Sign up</button></a>
        <a href="/login"><button type="button" class="btn btn-default btn-lg btn-block">Log in</button></a> --}}
        <div >
          <a href="/signup"><button type="button" class="bttn-sign-up">Sign up</button></a>
        </div>
        <div class="login-home-div">
          <a href="/login"><button type="button" class="bttn-sign-in">Log in</button></a>
        </div>
          
    </div>
  </div>

</div>

