<h1>Here you will create your profile</h1>

<form action="/create-profile" method="post">
{{!-- Get username from req.user --}}
  <input type="hidden" name="username" value="{{username}}">

  <label for="">Name:</label>
  <input type="text" name="name">

  <label for="">Pick your league:</label>
  <select name="favoriteLeague">
    <option hidden disabled selected value> -- Select League -- </option>
    <option value="Spain">La Liga</option>
    <option value="Italy">Calcio</option>
    <option value="England">Premier League</option>   
  </select>
  
  <label for="">Favorite team:</label>
  <input type="text" name="favoriteTeam">

  <label for="">Avatar:</label>
  <input type="text" name="picture">

  <button type="submit">Create</button>
</form>

<p>Back to <a href="/">Homepage</a></p>