
<div>
  <div class="nav">
  <div>
    <a href="/private-page">Homepage</a>    
  </div>
  <div>
    <a href="/private/create-profile">Create Profile</a> 
    <a href="/logout" class="nav-a">Logout</a> 
  </div>
</div>

<div class="profile-background-div">

  <div class="edit-create-profiles-div">
    <h2>To create your profile:</h2>
    <ol>
      <li>Give an awesome name to your new profile</li>
      <li>Choose your favorite team</li>
      <li>Upload a picture for your profile</li>
      <li>Click on Create and you are done!</li>      
    </ol>

    <form action="/create-profile" method="post" enctype="multipart/form-data">
    {{!-- Get username from req.user --}}
      <input type="hidden" name="username" value="{{username}}">

      <label for="">Name:</label>
      <input type="text" name="name">

      <input type="hidden" name="favoriteLeague" value="{{chosenLeague}}">

      <label for="">Team:</label>
        <select name="favoriteTeam">
        <option hidden disabled selected value> -- Select Team -- </option>
        {{#each team}}
        <option value="{{this.name}}">{{this.name}}</option> 
        {{/each}}   
      </select>

      <label for="">Profile picture:</label>
      <input type="file" name="picture">

      <button type="submit">Create!</button>
    </form>
  </div>

</div>