
<div>
  <div class="nav">
  <div>
    <a href="/private-page">Homepage</a>    
  </div>
  <div>
    <a href="/private/create-profile">Create Profile</a> 
    <a href="/logout" class="nav-a">Logout</a> 
  </div>
</div>

<div class="profile-background-div">

  <div class="edit-create-profiles-div">
    <h1>Here you will create your profile</h1>

    <form action="/create-profile" method="post" enctype="multipart/form-data">
    {{!-- Get username from req.user --}}
      <input type="hidden" name="username" value="{{username}}">

      <label for="">Name:</label>
      <input type="text" name="name">

      <input type="hidden" name="favoriteLeague" value="{{chosenLeague}}">

      <label for="">Pick your team:</label>
        <select name="favoriteTeam">
        <option hidden disabled selected value> -- Select Team -- </option>
        {{#each team}}
        <option value="{{this.name}}">{{this.name}}</option> 
        {{/each}}   
      </select>

      <label for="">Avatar:</label>
      <input type="file" name="picture">

      <button type="submit">Create</button>
    </form>
  </div>

</div>