<h1>Here you will create your profile</h1>

<form action="/create-profile" method="post">
  <input type="hidden" name="username" value="{{username}}">

  <label for="">Name:</label>
  <input type="text" name="name">

  <label for="">Favorite team(s):</label>
  <input type="text" name="favoriteTeams">

  <label for="">Avatar:</label>
  <input type="text" name="picture">

  <button type="submit">Create</button>
</form>

<p>Back to <a href="/">Homepage</a></p>