


<div class="nav">
  <div>
    <a href="/private-page">Homepage</a>    
  </div>
  <div>
    <a href="/private/create-profile">Create Profile</a> 
    <a href="/logout" class="nav-a">Logout</a> 
  </div>
</div>


<div class="profile-background-div">

  <div class="pick-league-div">

    <div class="pick-league-card">
      <a href='/private/create-profile/Spain'>
        <img src="../images/la-liga-link-img.jpg" alt="la liga" class="pick-league-img">
      </a>
      <a href='/private/create-profile/Spain'>La Liga</a>
    </div>

    <div class="pick-league-card">
      <a href="/private/create-profile/Italy">
        <img src="../images/premier-league-linklimg.jpg" alt="la liga" class="pick-league-img">
      </a>
      <a href='/private/create-profile/Italy'>Premier League</a>
    </div>

    <div class="pick-league-card">
      <a href="/private/create-profile/England">
        <img src="../images/serie-a-link-img.jpg" alt="la liga" class="pick-league-img">
      </a>
      <a href='/private/create-profile/England'>Serie A</a>
    </div>
  </div>
  {{!-- <ul>
    <li><a href='/private/create-profile/Spain'>La Liga</a></li>
    <li><a href='/private/create-profile/Italy'>Serie A</a></li>  
    <li><a href='/private/create-profile/England'>Permier League</a></li>
  </ul> --}}
</div>