


<div class="nav">
  <div>
    <a href="/private-page">Homepage</a>    
  </div>
  <div>
    <a href="/private/create-profile">Create Profile</a> 
    <a href="/logout" class="nav-a">Logout</a> 
  </div>
</div>


<div class="profile-background-div">

  <h2>First, choose a league by clicking on one of the logos below</h2>

  <div class="pick-league-div">

    <div class="pick-league-card">
      <a href='/private/create-profile/Spain'>
        <img src="../images/laliga-logo2.png" alt="la liga" class="pick-league-img">
      </a>
    </div>

    <div class="pick-league-card">
      <a href="/private/create-profile/Italy">
        <img src="../images/seriea-logo.png" alt="la liga" class="pick-league-img">
      </a>
    </div>

    <div class="pick-league-card">
      <a href="/private/create-profile/England">
        <img src="../images/permierleague-logo.png" alt="la liga" class="pick-league-img">
      </a>      
    </div>
  </div>  
</div>
