


<div class="nav">
  <div>
    <a href="/private-page">Homepage</a>    
  </div>
  <div>
    <a href="/private/create-profile">Create Profile</a> 
    <a href="/logout" class="nav-a">Logout</a> 
  </div>
</div>
<div>
<div class="profile-background-div">

  <ul>
    <li><a href='/private/create-profile/Spain'>La Liga</a></li>
    <li><a href='/private/create-profile/Italy'>Serie A</a></li>  
    <li><a href='/private/create-profile/England'>Permier League</a></li>
  </ul>
</div>