<ul>
  <li><a href='/private/create-profile/Spain'>La Liga</a></li>
  <li><a href='/private/create-profile/Italy'>Serie A</a></li>  
  <li><a href='/private/create-profile/England'>Permier League</a></li>
</ul>