
<div class="sign-page">

  <div class="sign-div">
      <!-- views/auth/signup.hbs -->
      <h2>Signup. Only for soccer fans</h2>

      <form action="/signup" method="POST" id="form-container" class="sign-form">
        <div>
          <label for="username">Username</label>
          <input id="username" type="text" name="username" placeholder="create username">
        </div>
        <div>
          <label for="password">Password</label>
          <input id="password" type="password" name="password" placeholder="create password">
        </div>

        {{#if message}}
          <div class="error-message">{{ message }}</div>
        {{/if}}

        <button>Create account</button>

        {{!-- <p class="account-message">Do you already have an account?</p> --}}
        <p>Do you already have an account?</p>
          <button>
            <a href="/login">Login</a>
          </button>
      </form>
  </div>


</div>