<div class="sign-page">
  <div class="sign-div">
      <h2>All football fans are welcome</h2>
      <p>Select a user name and a password to start enjoying our app.</p>
      <form action="/signup" method="POST" id="form-container" class="sign-form">
        <div>
          <label for="username">Username</label>
          <input id="username" type="text" name="username" placeholder="create username">
        </div>
        <div class="padding-15">
          <label for="password">Password</label>
          <input id="password" type="password" name="password" placeholder="**********">
        </div>

        {{#if message}}
          <div class="error-message">{{ message }}</div>
        {{/if}}
        <div class="padding-15">
         <div >
          <a href="/login"><button>Sign up</button></a>
        </div>
        </div>
      </form>
  </div>
</div>


{{!-- <h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Are you Jon Snow?">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  <button>Create account</button>

  
</form> --}}