<div>
  <form action="">
    <select>
      <option value="team1">team1</option>
      <option value="team2">team2</option>
      <option value="team3">team3</option>
      <option value="team4">team4</option>
      <option value="team5">team5</option>
      <option value="team6">team6</option>
    </select>

  </form>
</div>