

<div>
  <div>
    <div class="team-pic">
      <img src="" alt="">
      <h2>the teams name</h2>
    </div>
    <div class="team-player-table">
      <table>
        <thead>
          <tr>
            <th>name</th>
            <th>position</th>
            <th>countryOfBirth</th>
            <th>nationality</th>
            <th>role</th>
          </tr>
        </thead>
        <tbody id="team-player-roster">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</div>