<div>
  <form action="">
    <select>
      <option value="team1">team1</option>
      <option value="team1">team2</option>
      <option value="team1">team3</option>
      <option value="team1">team4</option>
      <option value="team1">team5</option>
      <option value="team1">team6</option>
    </select>

  </form>
</div>