<div class="nav">
  <div>
    <a href="/">Homepage</a>    
  </div>
  <div>
    <a href="/private-page">Your profiles</a> 
    <a href="/logout" class="nav-a">Logout</a> 
  </div>
</div>
<div>
<div class="profile-background-div">
  
  <div class="row">
    THIS IS THE SPACE FOR THE DETAIL PAGE <BR>
    THIS IS THE SPACE FOR THE DETAIL PAGE <BR>
    THIS IS THE SPACE FOR THE DETAIL PAGE <BR>
    THIS IS THE SPACE FOR THE DETAIL PAGE
  </div>
 
  
<div id= 'blah'></div>

{{!-- <ul class="list-unstyled"> --}}
    {{!-- <li class="media">
      <img id="1" width='300' height='200' class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1"></h5>
        
      </div>
    </li>
    <li class="media my-4">
      <img id="2" width='300' height='200' class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1"></h5>
        
      </div>
    </li>
    <li class="media">
      <img id="3" width='300' height='200' class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1"></h5>
        
      </div>
    </li> --}}
  {{!-- </ul> --}}

<script type="text/javascript" src="./javascripts/news.js"></script> 
</div>