
<div class="nav">
  <div>
    <a href="/private-page">Homepage</a>    
  </div>
  <div>
    <a href="/private/create-profile">Create Profile</a> 
    <a href="/logout" class="nav-a">Logout</a> 
  </div>
</div>
<div>
<div class="profile-background-div">


  <div class="section1">
    <div class="avatar-side">
      <div class="avatar-photo">
        <img src="../images//stadio-card.jpg" alt="avatar picture" class="avatar-picture-details">
      </div>
      <div>
        name
      </div>
      <div>
        liga name
      </div>
 
    </div>
    <div class="middle-side">
      <div class="selected-team-card">
        <div class="selected-team"> <img src="../images/stadio-card.jpg" alt="" class="selected-team-logo"></div>
        <div class="selected-team-info">
          <h4>the team name</h4>
          <button>team details</button>
        </div>
      </div>
    </div>
    <div class="right-side">
      <h2>check out the liga tables:</h2>
      <h3>scorer:</h3>
      <div><a href="/scorersLaLiga">scorersLaLiga</a></div>
      <div><a href="/scorersSerieA">scorersSerieA</a></div>
      <div><a href="/scorersPremier">scorersPremier</a></div>
      <h3>standings:</h3>
      <div><a href="/standingsLaLiga">standingsLaLiga</a></div>
      <div><a href="/standingsSerieA">standingsSerieA</a></div>
      <div><a href="/standingsPremier">standingsPremier</a></div>

    </div>
  </div>
















 
<div class="news-div">
  <div id='blah'></div>
</div>

{{!-- <ul class="list-unstyled"> --}}
    {{!-- <li class="media">
      <img id="1" width='300' height='200' class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1"></h5>
        
      </div>
    </li>
    <li class="media my-4">
      <img id="2" width='300' height='200' class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1"></h5>
        
      </div>
    </li>
    <li class="media">
      <img id="3" width='300' height='200' class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1"></h5>
        
      </div>
    </li> --}}
  {{!-- </ul> --}}

<script type="text/javascript" src="./javascripts/news.js"></script> 
</div>